<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="brand">
            <h2><span jhiTranslate="jhipsterFdcApp.brand.detail.title">Brand</span> {{ brand.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFdcApp.brand.name">Name</span></dt>
                <dd>
                    <span>{{ brand.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.brand.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ brand.startDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/brand', brand.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
