<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterFdcApp.brand.home.title">Brands</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-brand" [routerLink]="['/brand/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterFdcApp.brand.home.createLabel">
            Create a new Brand
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="brands?.length === 0">
        <span jhiTranslate="jhipsterFdcApp.brand.home.notFound">No brands found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="brands && brands.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterFdcApp.brand.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterFdcApp.brand.startDate">Start Date</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let brand of brands ;trackBy: trackId">
                    <td><a [routerLink]="['/brand', brand.id, 'view']">{{ brand.id }}</a></td>
                    <td>{{ brand.name }}</td>
                    <td>{{ brand.startDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/brand', brand.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/brand', brand.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(brand)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
