<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterFdcApp.item.home.title">Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterFdcApp.item.home.createLabel">
            Create a new Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="items?.length === 0">
        <span jhiTranslate="jhipsterFdcApp.item.home.notFound">No items found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="items && items.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhipsterFdcApp.item.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="jhipsterFdcApp.item.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="initialPrice"><span jhiTranslate="jhipsterFdcApp.item.initialPrice">Initial Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentPrice"><span jhiTranslate="jhipsterFdcApp.item.currentPrice">Current Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="soldDate"><span jhiTranslate="jhipsterFdcApp.item.soldDate">Sold Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="jhipsterFdcApp.item.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusItem"><span jhiTranslate="jhipsterFdcApp.item.statusItem">Status Item</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subCategory.id"><span jhiTranslate="jhipsterFdcApp.item.subCategory">Sub Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="brand.name"><span jhiTranslate="jhipsterFdcApp.item.brand">Brand</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let item of items ;trackBy: trackId">
                    <td><a [routerLink]="['/item', item.id, 'view']">{{ item.id }}</a></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.initialPrice }}</td>
                    <td>{{ item.currentPrice }}</td>
                    <td>{{ item.soldDate | date:'medium' }}</td>
                    <td>
                        <a *ngIf="item.image" (click)="openFile(item.imageContentType, item.image)">
                            <img [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-height: 30px;" alt="item image"/>
                        </a>
                        <span *ngIf="item.image">{{ item.imageContentType }}, {{ byteSize(item.image) }}</span>
                    </td>
                    <td>{{ item.statusItem }}</td>
                    <td>
                        <div *ngIf="item.subCategory">
                            <a [routerLink]="['/sub-category', item.subCategory?.id, 'view']" >{{ item.subCategory?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="item.brand">
                            <a [routerLink]="['/brand', item.brand?.id, 'view']" >{{ item.brand?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/item', item.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/item', item.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(item)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
