<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-item-heading" jhiTranslate="jhipsterFdcApp.item.home.createOrEditLabel">Create or edit a Item</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.initialPrice" for="field_initialPrice">Initial Price</label>
                    <input type="number" class="form-control" name="initialPrice" id="field_initialPrice"
                           formControlName="initialPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.currentPrice" for="field_currentPrice">Current Price</label>
                    <input type="number" class="form-control" name="currentPrice" id="field_currentPrice"
                           formControlName="currentPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.soldDate" for="field_soldDate">Sold Date</label>
                    <div class="d-flex">
                        <input id="field_soldDate" type="datetime-local" class="form-control" name="soldDate" formControlName="soldDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.image" for="field_image">Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value" style="max-height: 100px;" *ngIf="editForm.get('image')!.value" alt="item image"/>
                        <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'file_image')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           formControlName="imageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.statusItem" for="field_statusItem">Status Item</label>
                    <input type="checkbox" class="form-control" name="statusItem" id="field_statusItem"
                           formControlName="statusItem"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.subCategory" for="field_subCategory">Sub Category</label>
                    <select class="form-control" id="field_subCategory" name="subCategory" formControlName="subCategory">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subCategoryOption.id === editForm.get('subCategory')!.value?.id ? editForm.get('subCategory')!.value : subCategoryOption" *ngFor="let subCategoryOption of subcategories; trackBy: trackById">{{ subCategoryOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterFdcApp.item.brand" for="field_brand">Brand</label>
                    <select class="form-control" id="field_brand" name="brand" formControlName="brand">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brandOption.id === editForm.get('brand')!.value?.id ? editForm.get('brand')!.value : brandOption" *ngFor="let brandOption of brands; trackBy: trackById">{{ brandOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
