<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span jhiTranslate="jhipsterFdcApp.item.detail.title">Item</span> {{ item.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFdcApp.item.name">Name</span></dt>
                <dd>
                    <span>{{ item.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.description">Description</span></dt>
                <dd>
                    <span>{{ item.description }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.initialPrice">Initial Price</span></dt>
                <dd>
                    <span>{{ item.initialPrice }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.currentPrice">Current Price</span></dt>
                <dd>
                    <span>{{ item.currentPrice }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.soldDate">Sold Date</span></dt>
                <dd>
                    <span>{{ item.soldDate }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.image">Image</span></dt>
                <dd>
                    <div *ngIf="item.image">
                        <a (click)="openFile(item.imageContentType, item.image)">
                            <img [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-width: 100%;" alt="item image"/>
                        </a>
                        {{ item.imageContentType }}, {{ byteSize(item.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.statusItem">Status Item</span></dt>
                <dd>
                    <span>{{ item.statusItem }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.subCategory">Sub Category</span></dt>
                <dd>
                    <div *ngIf="item.subCategory">
                        <a [routerLink]="['/sub-category', item.subCategory?.id, 'view']">{{ item.subCategory?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.item.brand">Brand</span></dt>
                <dd>
                    <div *ngIf="item.brand">
                        <a [routerLink]="['/brand', item.brand?.id, 'view']">{{ item.brand?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
