<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productItem">
            <h2><span jhiTranslate="jhipsterFdcApp.productItem.detail.title">Product Item</span> {{ productItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFdcApp.productItem.quantityItem">Quantity Item</span></dt>
                <dd>
                    <span>{{ productItem.quantityItem }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-item', productItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
