<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="jhipsterFdcApp.product.detail.title">Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFdcApp.product.nameProduct">Name Product</span></dt>
                <dd>
                    <span>{{ product.nameProduct }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.descriptionProduct">Description Product</span></dt>
                <dd>
                    <span>{{ product.descriptionProduct }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.priceProduct">Price Product</span></dt>
                <dd>
                    <span>{{ product.priceProduct }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
