<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span jhiTranslate="jhipsterFdcApp.product.detail.title">Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterFdcApp.product.name">Name</span></dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.description">Description</span></dt>
                <dd>
                    <span>{{ product.description }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.image">Image</span></dt>
                <dd>
                    <div *ngIf="product.image">
                        <a (click)="openFile(product.imageContentType, product.image)">
                            <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-width: 100%;" alt="product image"/>
                        </a>
                        {{ product.imageContentType }}, {{ byteSize(product.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.price">Price</span></dt>
                <dd>
                    <span>{{ product.price }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.size">Size</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'jhipsterFdcApp.Size.' + product.size }}">{{ product.size }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.availableUntil">Available Until</span></dt>
                <dd>
                    <span>{{ product.availableUntil }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.subcategory">Subcategory</span></dt>
                <dd>
                    <span *ngFor="let subcategory of product.subcategories; let last = last">
                        <a [routerLink]="['/sub-category', subcategory?.id, 'view']">{{ subcategory.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="jhipsterFdcApp.product.brand">Brand</span></dt>
                <dd>
                    <div *ngIf="product.brand">
                        <a [routerLink]="['/brand', product.brand?.id, 'view']">{{ product.brand?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
